<?xml version="1.0"  ?>
<config>
    <modules>
        <PIC_Pickup>
            <version>1.0.0</version>
        </PIC_Pickup>
    </modules>
    <frontend>
        <routers>
            <pickup>
                <use>standard</use>
                <args>
                    <module>PIC_Pickup</module>
                    <frontName>pickup</frontName>
                </args>
            </pickup>
        </routers>
        <layout>
            <updates>
                <pickup>
                    <file>pickup.xml</file>
                </pickup>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <checkout_controller_onepage_save_shipping_method>
                        <type>model</type>
                        <class>pickup/observer</class>
                        <method>saveShippingMethod</method>
                    </checkout_controller_onepage_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_model_service_quote_submit_after>
                <observers>
                    <checkout_controller_onepage_save_shipping_method>
                        <type>model</type>
                        <class>pickup/observer</class>
                        <method>saveOrderAfter</method>
                    </checkout_controller_onepage_save_shipping_method>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_load_after>
                <observers>
                    <sales_order_load_after>
                        <type>model</type>
                        <class>pickup/observer</class>
                        <method>loadOrderAfter</method>
                    </sales_order_load_after>
                </observers>
            </sales_order_load_after>
            <sales_quote_load_after>
                <observers>
                    <sales_quote_load_after>
                        <type>model</type>
                        <class>pickup/observer</class>
                        <method>loadQuoteAfter</method>
                    </sales_quote_load_after>
                </observers>
            </sales_quote_load_after>
        </events>
        <blocks>
            <PIC_Pickup>
                <class>PIC_Pickup_Block</class>
            </PIC_Pickup>
            <pickup>
                <class>PIC_Pickup_Block</class>
            </pickup>
        </blocks>
        <helpers>
            <pickup>
                <class>PIC_Pickup_Helper</class>
            </pickup>
        </helpers>
        <models>
            <sales>
                <rewrite>
                    <order>PIC_Pickup_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <pickup>
                <class>PIC_Pickup_Model</class>
                <resourceModel>pickup_resource</resourceModel>
            </pickup>
            <pickup_resource>
                <class>PIC_Pickup_Model_Resource</class>
                <entities>
                    <block>
                        <table>pic_Pickup</table>
                    </block>
                </entities>
            </pickup_resource>
        </models>
        <resources>
            <pickup_setup>
                <setup>
                    <module>PIC_Pickup</module>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
            </pickup_setup>
            <pickup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pickup_write>
            <pickup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pickup_read>
        </resources>
    </global>
    <default>
        <carriers>
            <pickup>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>pickup/carrier</model>
                <name>pickup</name>
                <price>0.00</price>
                <title>PIC Pickup</title>
                <type>I</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
                <max_packet_weight>2000</max_packet_weight>
            </pickup>
        </carriers>
    </default>
    <!--<frontend>-->
        <!--<layout>-->
            <!--<updates>-->
                <!--<pickup module="pickup">-->
                    <!--<file>pickup.xml</file>-->
                <!--</pickup>-->
            <!--</updates>-->
        <!--</layout>-->
        <!--<routers>-->
            <!--<pickup>-->
                <!--<use>standart</use>-->
                <!--<args>-->
                    <!--<module>PIC_Pickup</module>-->
                    <!--<frontName>pickup</frontName>-->
                <!--</args>-->
            <!--</pickup>-->
        <!--</routers>-->
    <!--</frontend>-->
    <!--<admin>-->
        <!--<routers>-->
            <!--<adminhtml>-->
                <!--<args>-->
                    <!--<modules>-->
                        <!--<pickup before="Mage_Adminhtml">-->
                            <!--PIC_Pickup_Adminhtml-->
                        <!--</pickup>-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</adminhtml>-->
        <!--</routers>-->
    <!--</admin>-->

</config>